deploy_to*
.vscode/
logback/
watched/
*.pid
static/build/
static/download/
bower_components
node_modules/
pid/
log/
shadowsocks-python/
config*.js
!config-lo.js
!config-tmpl.js
script/initdb.js
bin/cron/crontab.txt
dump.rdb
.idea/